In [2]:
import pandas as pd

### Read Salaries from csv

In [5]:
sal = pd.read_csv('sf-salaries/Salaries.csv')

/home/kakashi/WorkSpace/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Use head on sal

In [8]:
sal.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

### Check info

In [9]:
sal.info

<bound method DataFrame.info of             Id            EmployeeName  \
0            1          NATHANIEL FORD
1            2            GARY JIMENEZ
2            3          ALBERT PARDINI
3            4       CHRISTOPHER CHONG
4            5         PATRICK GARDNER
5            6          DAVID SULLIVAN
6            7               ALSON LEE
7            8           DAVID KUSHNER
8            9          MICHAEL MORRIS
9           10      JOANNE HAYES-WHITE
10          11           ARTHUR KENNEY
11          12        PATRICIA JACKSON
12          13       EDWARD HARRINGTON
13          14             JOHN MARTIN
14          15          DAVID FRANKLIN
15          16         RICHARD CORRIEA
16          17                AMY HART
17          18          SEBASTIAN WONG
18          19              MARTY ROSS
19          20           ELLEN MOFFATT
20          21              VENUS AZAR
21          22            JUDY MELINEK
22          23           GEORGE GARCIA
23          24           VICTOR WYRSCH
24          25         JOSEPH DRISCOLL
25          26            GREGORY SUHR
26          27             JOHN HANLEY
27          28          RAYMOND GUZMAN
28          29          DENISE SCHMITT
29          30           MONICA FIELDS
...        ...                     ...
148624  148625      Lorraine Rosenthal
148625  148626         Renato C Gurion
148626  148627           Paulet Gaines
148627  148628        Brett A Lundberg
148628  148629          Mark W Mcclure
148629  148630       Elizabeth Iniguez
148630  148631            Randy J Keys
148631  148632         Andre M Johnson
148632  148633  Sharon D Owens-Webster
148633  148634        Edward Ferdinand
148634  148635          David M Turner
148635  148636     James S Kibblewhite
148636  148637           Andrew J Enzi
148637  148638        Kadeshra D Green
148638  148639    Lennard B Hutchinson
148639  148640       Richard A Talbert
148640  148641      Charlene D Mccully
148641  148642   Raphael Marquis Goins
148642  148643       Dominic C Marquez
148643  148644              Kim Brewer
148644  148645            Randy D Winn
148645  148646        Carolyn A Wilson
148646  148647            Not provided
148647  148648          Joann Anderson
148648  148649             Leon Walker
148649  148650           Roy I Tillery
148650  148651            Not provided
148651  148652            Not provided
148652  148653            Not provided
148653  148654               Joe Lopez

                                                JobTitle       BasePay  \
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY        167411
1                        CAPTAIN III (POLICE DEPARTMENT)        155966
2                        CAPTAIN III (POLICE DEPARTMENT)        212739
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC         77916
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)        134402
5                              ASSISTANT DEPUTY CHIEF II        118602
6                     BATTALION CHIEF, (FIRE DEPARTMENT)         92492
7                         DEPUTY DIRECTOR OF INVESTMENTS        256577
8                     BATTALION CHIEF, (FIRE DEPARTMENT)        176933
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)        285262
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)        194999
11                       CAPTAIN III (POLICE DEPARTMENT)         99722
12                           EXECUTIVE CONTRACT EMPLOYEE        294580
13                                     DEPARTMENT HEAD V        271329
14                    BATTALION CHIEF, (FIRE DEPARTMENT)        174873
15                    COMMANDER III, (POLICE DEPARTMENT)        198778
16                                     DEPARTMENT HEAD V        268605
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES        140547
18                    BATTALION CHIEF, (FIRE DEPARTMENT)        168693
19                            ASSISTANT MEDICAL EXAMINER        257511
20                            ASSISTANT MEDICAL EXAMINER        257510
21                            ASSISTANT MEDICAL EXAMINER        257510
22                             CAPTAIN, FIRE SUPPRESSION        140547
23                    BATTALION CHIEF, (FIRE DEPARTMENT)        168693
24                             CAPTAIN, FIRE SUPPRESSION        140547
25                                       CHIEF OF POLICE        256470
26                             CAPTAIN, FIRE SUPPRESSION       92080.8
27                    BATTALION CHIEF, (FIRE DEPARTMENT)        168693
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)        261718
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)        246226
...                                                  ...           ...
148624                                      Senior Clerk          0.00
148625                                  Registered Nurse          0.00
148626                                     Account Clerk          0.00
148627                                   General Laborer          0.00
148628                                   General Laborer          0.00
148629                                Transcriber Typist          0.00
148630                                         Carpenter          0.00
148631                       Communications Dispatcher 1          0.00
148632                        Protective Services Worker          0.00
148633                                   General Laborer          0.00
148634                               Transit Car Cleaner          0.00
148635                                   General Laborer          0.00
148636                               Arborist Technician          0.00
148637                            Transit Fare Inspector          0.00
148638                                       Electrician          0.00
148639                                         Custodian          0.00
148640                           Parking Control Officer          0.00
148641                                      Museum Guard          0.00
148642                                       Sign Worker          0.00
148643                           Parking Control Officer          0.00
148644                      Stationary Eng, Sewage Plant          0.00
148645                         Human Services Technician          0.00
148646                                      Not provided  Not Provided
148647                       Communications Dispatcher 2          0.00
148648                                         Custodian          0.00
148649                                         Custodian          0.00
148650                                      Not provided  Not Provided
148651                                      Not provided  Not Provided
148652                                      Not provided  Not Provided
148653                        Counselor, Log Cabin Ranch          0.00

         OvertimePay      OtherPay      Benefits   TotalPay  TotalPayBenefits  \
0                  0        400184           NaN  567595.43         567595.43
1             245132        137811           NaN  538909.28         538909.28
2             106088       16452.6           NaN  335279.91         335279.91
3            56120.7        198307           NaN  332343.61         332343.61
4               9737        182235           NaN  326373.19         326373.19
5               8601        189083           NaN  316285.74         316285.74
6            89062.9        134426           NaN  315981.05         315981.05
7                  0       51322.5           NaN  307899.46         307899.46
8            86362.7       40132.2           NaN  303427.55         303427.55
9                  0       17115.7           NaN  302377.73         302377.73
10           71344.9       33149.9           NaN  299494.17         299494.17
11           87082.6        110804           NaN  297608.92         297608.92
12                 0             0           NaN  294580.02         294580.02
13                 0       21342.6           NaN  292671.62         292671.62
14           74050.3       37424.1           NaN  286347.05         286347.05
15           73478.2       13957.6           NaN  286213.86         286213.86
16                 0       16115.9           NaN  284720.43         284720.43
17            119397       18625.1           NaN  278569.21         278569.21
18           69626.1       38115.5           NaN  276434.22         276434.22
19            880.16       16159.5           NaN  274550.25         274550.25
20                 0       16679.8           NaN  274190.27         274190.27
21            377.21       15883.6           NaN  273771.21         273771.21
22           93200.6       39955.2           NaN  273702.71         273702.71
23           77896.1       24083.9           NaN  270672.63         270672.63
24           97868.8       31909.3           NaN  270324.91         270324.91
25                 0       11522.2           NaN  267992.59         267992.59
26             40008        133696           NaN  265784.56         265784.56
27           80706.9         16064           NaN  265463.46         265463.46
28                 0          2357           NaN  264074.60         264074.60
29                 0       15140.5           NaN  261366.14         261366.14
...              ...           ...           ...        ...               ...
148624          0.00         12.89          0.00      12.89             12.89
148625          0.00          6.00          1.24       6.00              7.24
148626          0.00          0.00          0.00       0.00              0.00
148627          0.00          0.00          0.00       0.00              0.00
148628          0.00          0.00          0.00       0.00              0.00
148629          0.00          0.00          0.00       0.00              0.00
148630          0.00          0.00          0.00       0.00              0.00
148631          0.00          0.00          0.00       0.00              0.00
148632          0.00          0.00          0.00       0.00              0.00
148633          0.00          0.00          0.00       0.00              0.00
148634          0.00          0.00          0.00       0.00              0.00
148635          0.00          0.00          0.00       0.00              0.00
148636          0.00          0.00          0.00       0.00              0.00
148637          0.00          0.00          0.00       0.00              0.00
148638          0.00          0.00          0.00       0.00              0.00
148639          0.00          0.00          0.00       0.00              0.00
148640          0.00          0.00          0.00       0.00              0.00
148641          0.00          0.00          0.00       0.00              0.00
148642          0.00          0.00          0.00       0.00              0.00
148643          0.00          0.00          0.00       0.00              0.00
148644          0.00          0.00          0.00       0.00              0.00
148645          0.00          0.00          0.00       0.00              0.00
148646  Not Provided  Not Provided  Not Provided       0.00              0.00
148647          0.00          0.00          0.00       0.00              0.00
148648          0.00          0.00          0.00       0.00              0.00
148649          0.00          0.00          0.00       0.00              0.00
148650  Not Provided  Not Provided  Not Provided       0.00              0.00
148651  Not Provided  Not Provided  Not Provided       0.00              0.00
148652  Not Provided  Not Provided  Not Provided       0.00              0.00
148653          0.00       -618.13          0.00    -618.13           -618.13

        Year  Notes         Agency Status
0       2011    NaN  San Francisco    NaN
1       2011    NaN  San Francisco    NaN
2       2011    NaN  San Francisco    NaN
3       2011    NaN  San Francisco    NaN
4       2011    NaN  San Francisco    NaN
5       2011    NaN  San Francisco    NaN
6       2011    NaN  San Francisco    NaN
7       2011    NaN  San Francisco    NaN
8       2011    NaN  San Francisco    NaN
9       2011    NaN  San Francisco    NaN
10      2011    NaN  San Francisco    NaN
11      2011    NaN  San Francisco    NaN
12      2011    NaN  San Francisco    NaN
13      2011    NaN  San Francisco    NaN
14      2011    NaN  San Francisco    NaN
15      2011    NaN  San Francisco    NaN
16      2011    NaN  San Francisco    NaN
17      2011    NaN  San Francisco    NaN
18      2011    NaN  San Francisco    NaN
19      2011    NaN  San Francisco    NaN
20      2011    NaN  San Francisco    NaN
21      2011    NaN  San Francisco    NaN
22      2011    NaN  San Francisco    NaN
23      2011    NaN  San Francisco    NaN
24      2011    NaN  San Francisco    NaN
25      2011    NaN  San Francisco    NaN
26      2011    NaN  San Francisco    NaN
27      2011    NaN  San Francisco    NaN
28      2011    NaN  San Francisco    NaN
29      2011    NaN  San Francisco    NaN
...      ...    ...            ...    ...
148624  2014    NaN  San Francisco     PT
148625  2014    NaN  San Francisco     PT
148626  2014    NaN  San Francisco     PT
148627  2014    NaN  San Francisco     PT
148628  2014    NaN  San Francisco     PT
148629  2014    NaN  San Francisco     PT
148630  2014    NaN  San Francisco     PT
148631  2014    NaN  San Francisco     PT
148632  2014    NaN  San Francisco     PT
148633  2014    NaN  San Francisco     PT
148634  2014    NaN  San Francisco     PT
148635  2014    NaN  San Francisco     PT
148636  2014    NaN  San Francisco     PT
148637  2014    NaN  San Francisco     PT
148638  2014    NaN  San Francisco     PT
148639  2014    NaN  San Francisco     PT
148640  2014    NaN  San Francisco     PT
148641  2014    NaN  San Francisco     PT
148642  2014    NaN  San Francisco     PT
148643  2014    NaN  San Francisco     PT
148644  2014    NaN  San Francisco     PT
148645  2014    NaN  San Francisco     PT
148646  2014    NaN  San Francisco    NaN
148647  2014    NaN  San Francisco     PT
148648  2014    NaN  San Francisco     PT
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

[148654 rows x 13 columns]>

### Average BasePay

In [11]:
sal['BasePay'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [12]:
import numpy as np

### Removing rows with non-numeric BasePay

In [16]:
sal = sal[sal['BasePay'].apply(lambda x: type(x) in [int, np.int64, float, np.float64])]

In [17]:
sal['BasePay'].mean()

71323.83957370375

### Highest amount of OverTime

In [19]:
sal['OvertimePay'].max()

245131.88

### Job Title of JOSEPH DRISCOLL

In [20]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

### Salary of JOSEPH DRISCOLL

In [22]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

### Highest Paid Employee

In [24]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [25]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

### Lowest Paid

In [26]:
sal.iloc[sal['TotalPayBenefits'].argmin()]

/home/kakashi/WorkSpace/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

Id                            110531
EmployeeName           David P Kucia
JobTitle            Police Officer 3
BasePay                          NaN
OvertimePay                        0
OtherPay                           0
Benefits                      -33.89
TotalPay                           0
TotalPayBenefits              -33.89
Year                            2013
Notes                            NaN
Agency                 San Francisco
Status                           NaN
Name: 110530, dtype: object

### Average BasePay for 2011-2014

In [28]:
sal.groupby('Year').mean()

            Id       TotalPay  TotalPayBenefits  Notes
Year
2011   18080.0   71744.103871      71744.103871    NaN
2012   54542.5   74113.262265     100553.229232    NaN
2013   91728.5   77611.443142     101440.519714    NaN
2014  120802.0  113172.769356     149360.483457    NaN

### Unique Job Titles

In [30]:
sal['JobTitle'].nunique()

2149

### Common 5 Jobs

In [32]:
sal['JobTitle'].value_counts().head(5)

Transit Operator    6044
Registered Nurse    3569
Special Nurse       3055
TRANSIT OPERATOR    2388
Police Officer 3    2350
Name: JobTitle, dtype: int64

### Job Titles represented by only one person in 2013

In [40]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

### Word Chief in Job Title

In [41]:
def title_chief_check(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [42]:
title_chief_check('df Chief')

True

In [44]:
sum(sal['JobTitle'].apply(lambda x: title_chief_check(x)))

615