In [4]:
import pandas as pd
df1 = pd.DataFrame({'val': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'num': range(7)})
df1

  val  num
0   b    0
1   b    1
2   a    2
3   c    3
4   a    4
5   a    5
6   b    6

In [5]:
df2 = pd.DataFrame({'val': ['b', 'a']})
df2

  val
0   b
1   a

In [6]:
pd.concat([df1,df2])

/home/kakashi/WorkSpace/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

   num val
0  0.0   b
1  1.0   b
2  2.0   a
3  3.0   c
4  4.0   a
5  5.0   a
6  6.0   b
0  NaN   b
1  NaN   a

In [7]:
pd.merge(df1,df2)

  val  num
0   b    0
1   b    1
2   b    6
3   a    2
4   a    4
5   a    5